<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Modern website packages - Expressive.io</title>
	<link rel="stylesheet" href="/normalize.css">
	<link rel="stylesheet" href="/skeleton.css">
	<link rel="stylesheet" href="/evil-icons.min.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
<%- evilSprite %>

	<div id="root"></div>
	<script src="/bundle.js"></script>

</body>
</html>